.scholarship_sect {
    background-image: url('../../../assets/book.jpg');
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}